# Environment Config
NODE_ENV=development
PORT=3000

# Postgres Database Config
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres

# JWT Config (expires in seconds)
JWT_SECRET=verysecret
JWT_EXPIRES_IN=86400

# Cookie Config (expires in milliseconds)
COOKIE_MAX_AGES=86400000
